<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <package name="com.kq.pojo"/>
    </typeAliases>
    <!--    每一个Mapper都需要在核心配置中注册-->
    <mappers>
        <package name="com/kq/mapper"/>
    </mappers>
</configuration>